
@font-face {
	font-family: n3;
	src: url('fonts/ClashDisplayLight.otf');
}
@font-face {
	font-family: n4;
	src: url('fonts/Satoshi-VariableItalic.ttf');
}
body{
	font-family: n3;
}

.logo{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 19px 0px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-top: none;
	border-left: none;
	border-right: none;
	margin-left: 28px;
	margin-right: 28px;
}
.logo h1{
	font-weight: 600;
	font-size: 32px;
}
.img-logo{
	grid-gap: 18px;
	display: flex;
}
.button-header{
	font-family: n4;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
	grid-gap: 44px;
	padding-bottom: 20px;
	background-color:rgb(249, 249, 249);
}
.button-header button{
	border: 0px;
	background: no-repeat;
	font-size: 16px;
	color:rgb(114, 110, 141);
	font-weight: 500;
}
.cataloge{
	display: grid;
	justify-content: center;
}
.carta{
	display: flex;
	align-items: center;
}
.carta-text{
	padding: 60px;
	background-color: rgb(42, 37, 75);
}
.carta-text p{
	padding-bottom: 41px;
	color: #fff;
	font-size: 32px;
	font-weight: 600;
	width: 513px;
	line-height: 40px;
}
.carta-text button{
	color: #fff;
	padding: 10px 32px;
	background-color: rgba(249, 249, 249, 0.15);
	border: 1px;
	font-size: 16px;
}
.carta-text h1{
	padding-top: 196px;
	width: 602px;
	font-size: 18px;
	color: #fff;
	font-family: n4;
	font-weight: 400;
	line-height: 30px;
}
.cataloge{
	height: 584px;
	margin-top: 60px;
	margin-bottom: 60px;
}
.carta-img img{
	height: 565px;
	margin-top: 3px;
}
.delivery{
	justify-content: center;
	display: grid;
	text-align: center;
}
.delivery h1{
	font-size: 24px;
}
.info-shop{
	display: flex;
	padding-top: 51px;
	grid-gap: 59px;
	padding-bottom: 86px;
}
.info-title{
	text-align: left;
}
.info-title img{
	padding-bottom: 16px;
}
.info-title h2{
	padding-bottom: 8px;
	font-size: 20px;
}
.info-title p{
	width: 235px;
	font-size: 16px;
	font-weight:600;
	color: rgb(42, 37, 75);
	line-height: 20px;
	font-family: n4;
}
.cotologe-sell{
	display: flex;
	grid-gap: 20px;
}
.sell-carta h1{
	padding-top: 24px;
	padding-bottom: 8px;
	font-size: 20px;
	color: rgb(42, 37, 75);
}
.sell-carta p{
	font-size: 20px;
	font-family: n4;
	color:rgb(42, 37, 75);
	font-weight: 600;
}
.sell-carta img{
	width: 305px;
	height: 375px;
}
.sell-hot h2{
	padding-bottom: 33px;
	font-size: 32px;
}
.sell-hot{
	justify-content: center;
	display: grid;
}
.button-centr{
	margin-top: 51px;
	margin-bottom: 60px;
	text-decoration: none;
	font-size: 16px;
	font-family: n4;
	color:rgb(42, 37, 75);
	padding: 10px 32px;
	background-color: rgb(249, 249, 249);
	font-weight: 600;
}
.jcc{
	justify-content: center;
	display: grid;
}
.Our-products-carta{
	display: flex;
	grid-gap: 20px;
}
.Our-products{
	justify-content: center;
	display: grid;
}
.aur-titl img{
	padding-bottom: 24px;
}
.aur-titl p{
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 8px;
}
.aur-titl h1{
	font-size: 18px;
	font-family: n4;
}
.Our-products h2{
	padding-bottom: 25px;
	font-size: 32px;
}
.input h1{
	padding-bottom: 16px;
	font-size: 32px;
}
.input{
	text-align: center;
	background-color: #fff;
	padding: 60px 300px;
}
.input h2{
	width: 470px;
	font-size: 18px;
	padding-bottom: 72px;
	line-height: 30px;
}
.input-title input{
	padding: 17px 32px;
	border: 0px;
	font-family: n3;
	font-size: 18px;
	background-color: rgb(249, 249, 249);
}
input , textarea {
	outline:none;
}
.aur-titl p{
	color: #000;
}
.ran-line{
	display: none;
}
.input-title button{
	border: 0px;
	background-color: rgb(42, 37, 75);
	padding: 18px 32px;
	color: #fff;
	font-size: 18px;
}
.fon{
	background-color:rgb(249, 249, 249);
	padding: 52px 93px;
}
.info{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 122px;
}
.info-text{
	width: 514px;
}
.info-text p{
	font-size: 24px;
	font-weight: 600;
	line-height: 35px;
}
.info-text h1{
	padding-top: 25px;
	color:rgb(80, 89, 119);
	line-height: 20px;
}
.info-text button{
	margin-top: 169px;
	border: 0px;
	background-color:rgb(249, 249, 249);
	padding: 15px 32px;
	font-size: 16px;
}
.d-n{
	display: none;
}
footer{
	justify-content: center;
	display: grid;
	padding-top: 58px;
	padding-bottom: 25px;
	grid-gap: 109px;
	background-color: rgb(42, 37, 75);
}s
footer h1 , p{
	color: #fff;
}
.colums h1{
	color: #fff;
}
.colums{
	grid-gap: 12px;
	display: grid;
}
.input-footer p{
	padding-bottom: 16px;
	font-size: 16px;
}
.input-footer-title input{
	background-color: rgba(255, 255, 255, 0.15);
}
.input-footer-title button{
	background-color: #fff;
	color: #000;
}
.b-b{
	border-bottom: 1px solid rgb(78, 77, 147);
	display: flex;
	grid-gap: 105px;
	padding-bottom: 60px;
}
.fotter-button{
	display: flex;
	justify-content: space-between;
}
.d-b{
	display: flex;
	grid-gap: 20px;
}
.d-b-img{
	display: none;
}
.d-b02{
	display: flex;
	grid-gap: 120px;
}
.input-bay1{
	display: flex;
	align-items: center;
	grid-gap: 33px;
	background-color: #fff;
	padding: 12px 16px;
	width: 122px;
}
.input-bay1 button{
	border: 0px;
	background: no-repeat;
	font-family: n3;
	color: rgb(202, 198, 218);
	font-size: 18px;
}
.cart-get{
	display: flex;
	align-items: center;
}
.cart-get h4{
	color: rgb(42, 37, 75);
	font-size: 18px;
	font-weight: 600;
	padding-right: 22px;
	padding-bottom: 0;
}
.button-get{
	margin-left: 170px;
	border: 0px;
	padding: 16px 32px;
	color: #fff;
	background-color: rgb(42, 37, 75);
	font-size: 18px;
	font-weight: 400;
}
.container{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 29px;
	padding-bottom: 80px;
	grid-gap: 62px;
	background-color:rgb(249, 249, 249);
}
.text-img p{
	font-size:36px;
	padding-bottom: 13px;
	font-family: n3;
	color: rgb(42, 37, 75);
	font-weight: 600;
}
.text-img h1{
	font-family: n4;
	padding-bottom: 16px;
	font-size: 24px;
}
.text-img h2{
	font-family: n4;
	padding-top: 54px;
}
.text-img h3{
	width: 498px;
	font-size: 18px;
	color: rgb(80, 89, 119);
	line-height: 20px;
	padding-bottom: 20px;
	padding-top: 16px;
}
.text-img li{
	color: rgb(80, 89, 119);
	font-size: 16px;
	font-family: n3;
	padding-bottom: 10px;
}
.sistings{
	padding: 20px 0px;
}
.sistings p{
	font-size: 16px;
	padding-bottom: 28px;
}
.sistings-title{
	display: flex;
	align-items: center;
	grid-gap: 58px;
	padding-bottom: 49px;
}
.sistings-title h1{
	padding-bottom: 12px;
	color: rgb(42, 37, 75);
	font-size: 14px;
}
.sistings-title h2{
	padding-top: 0;
	color: rgb(80, 89, 119);
	font-size: 18px;
	font-family: n3;
}
.cotologe-title{
	display: flex;
}
.container01{
	display: grid;
	justify-content: center;
	padding-top: 88px;
}
.logo-info-cont button{
	background-color:rgb(249, 249, 249);
	padding: 16px 32px;
	border: 0px;
	height: 56px;
}
.logo-info-cont{
	display: flex;
	justify-content: space-between;
	padding-bottom: 89px;
}
.logo-info-cont p{
	color: #000;
	font-size: 36px;
	line-height: 40px;
	width: 704px;
	font-weight: 600;
}
.cotologe-title{
	padding-top: 60px;
	padding-bottom: 60px;
	grid-gap: 16px;
}
.text-left p{
	color: #fff;
	padding-bottom: 12px;
	font-size: 32px;
	font-weight: 600;
	font-family: n4;
}
.text-left h1{
	color: #fff;
	width: 495px;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
}
.text-left{
	background-color:rgb(42, 37, 75);
	padding: 64px;
}
.text-left button{
	margin-top: 205px;
	padding: 16px 32px;
	background-color:rgba(249, 249, 249, 0.15);
	border: 0px;
	color: #fff;
	font-size: 18px;
}
.cotologe02{
	display: flex;
	background-color:rgb(249, 249, 249);
	margin-bottom: 80px;
	justify-content: space-between;
}
.text-right{
	padding: 70px;
}
.text-right p{
	width: 461px;
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	color: #000;
}
.text-right h1{
	padding-top: 15px;
	color: rgb(80, 89, 119);
	width: 525px;
	line-height: 20px;
}
.text-right button{
	margin-top: 196px;
	padding: 16px 32px;
	color: #000;
	border: 0px;
	background-color:rgb(255, 255, 255);
}
.line-cart{
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 398px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.line-cart p{
	color: #000;
	font-size: 14px;
	font-weight: 600;
}
.container02{
	justify-content: center;
	display: grid;
}
.p01{
	color: #000;
	padding-top: 64px;
	padding-bottom: 30px;
	font-size: 36px;
	font-weight: 600;
}
.img-text{
	display: flex;
	grid-gap: 21px;
}
.line2-bay{
	display: flex;
	grid-gap: 16px;
	align-items: center;
	padding-bottom: 12px;
}
.line2-bay p{
	color:rgb(78, 77, 147);
	font-size: 20px;
	font-weight: 600;
}
.bay-button h2{
	color: rgb(78, 77, 147);
	padding-bottom: 16px;
	font-size: 14px;
}
.bay-button{
	text-align: right;
}
.line2-bay{
	text-align: right;
	display: grid;
}
.bay-button button{
	color: #fff;
	padding: 16px 32px;
	background-color: rgb(42, 37, 75);
	border: 0px;
	margin-bottom: 48px;
}
.line2-bay h1{
	font-size: 24px;
	font-weight: 600;
}
.carta-cart{
	padding-bottom: 20px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin-bottom: 31px;
}
.text-cart h1{
	width: 179px;
	color: rgb(42, 37, 75);
	font-size: 14px;
	line-height: 20px;
}
.text-cart{
	grid-gap: 8px;
	display: grid;
}
.text-cart p{
	font-size: 20px;
	font-weight: 600;
}
.all-products-logo{
	background-image: url(img/PageHeaders.svg);
	background-size: cover;
	padding: 128px 30px 20px 40px;
}
.all-products-logo p{
	font-size: 32px;
}
.input-line{
	display: flex;
	align-items: center;
	grid-gap: 8px;
}
.filter-line{
	display: grid;
	grid-gap: 12px;
}
.filter-line p{
	padding-bottom: 8px;
	color: #000;
	font-weight: 18;
	font-weight: 600;
	padding-top: 48px;
}
.info-product{
	display: flex;
	padding: 30px 0px;
	justify-content: center;
	grid-gap: 196px;
}
.carta-filter{
	display: grid;
	grid-template-columns: repeat(3,3fr);
	grid-gap: 40px;
	grid-column-gap: 20px;
}
.d-n03{
	display: none;
}
.button-filter p{
	background-color: rgb(249, 249, 249);
	padding: 16px 32px;
	color: #000;
	font-weight: 600;
}
.button-filter{
	width: 130px;
	display: none;
}
a{
	text-decoration: none;
	color: #000;
}
#close-filiter{
	margin-left: 40px;
}
.vector{
	background-color:rgb(249, 249, 249);
	position: absolute;
}
.vector a{
	padding-left: 10px;
	font-family: n4;
	font-weight: 600;
}
.vector input{
	width: 120px;
}
@media screen and (max-width:1398px){
	.info{
		grid-gap: 40px;
		margin-bottom: 90px;
	}
	.button-get{
		margin-left: 30px;
	}
	.img{
		width: 500px;
	}
	.img img{
		width: 500px;
	}
	.text-right{
		padding: 30px;
		width: 100%;
	}
	.cotologe02{
		display: grid;
		justify-content: center;
	}
	.cotologe-title{
		display: grid;
		justify-content: center;
	}
	.logo-info-cont{
		width: 100%;
	}
	.cotologe-title{
		width: 100%;
	}
	.container01{
		width: 100%;
	}
}
@media screen and (max-width:1300px){
	.Our-products-carta{
		display: grid;
		grid-template-columns: repeat(1,2fr);
	}
	.d-b{
		padding-top: 40px;
	}
	.cotologe-sell{
		grid-template-columns: repeat(2,2fr);
		display: grid;
	}
	.input{
		padding: 60px 200px;
	}
	.info img{
		position: absolute;
		z-index: -1;
	}
	.filter{
		position: fixed;
		left: 0;
		top: 0;
		background-color: #fff;
		padding-right: 90px;
		padding-top: 40px;
		padding-bottom: 30px;
		padding-left: 30px;
	}
	.info{
		margin-top: 190px;
		margin-bottom: 190px;
	}
	.info-text h1{
		color: #fff;
	}
	.line-cart{
		grid-gap: 200px;
	}
	.carta-filter{
		grid-template-columns: repeat(2,4fr);
	}
	.d-n03{
		display: block;
	}
	.button-filter{
		display: block;
	}
}
@media screen and (max-width:1240px){
	.carta{
		display: grid;
	}
	.cataloge{
		height: 100%;
	}
	.carta-img img{
		width: 100%;
		height: 100%;
	}
	.delivery{
		width: 100%;
	}
	.info-shop{
		grid-template-columns: repeat(2,2fr);
	    display: grid;
	}
	.b-b{
		grid-template-columns: repeat(2,2fr);
		display: grid;
		grid-gap: 50px;
		grid-column-gap: 20px;
	}
	.line-cart{
		grid-gap: 160px;
	}
}
@media screen and (max-width:1083px){
	.text-img h3{
		width: 400px;
	}
}
@media screen and (max-width:1007px){
	.container{
		display: grid;
		justify-content: center;
	}
	.img{
		width: 100%;
	}
	.img img{
		width: 100%;
	}
	.cart-get{
		display: flex;
		justify-content: space-between;
	}
}
@media screen and (max-width:876px){
	.colums{
		width: 200px;
	}
	.text-right{
		padding-left: 10px;
		padding-right: 10px;
	}
	.input-footer{
		width: 300px;
	}
	.input-title button{
		width: 100%;
	}
	.input-title input{
		width: 237px;
	}
	.input{
		padding: 60px 100px;
	}
	.d-b-img{
		display: block;
		width: 36px;
	}
	.d-n-img{
		display: none;
	}
	.button-header{
		display: none;
	}
	.menu{
		position: absolute;
		background-color: #fff;
		grid-gap: 20px;
		top: 0;
		display: grid;
		padding-top: 20px;
		padding-left: 20px;
		padding-bottom: 40px;
		padding-right: 40px;
		border-bottom-right-radius: 129px;
		border: 1px solid #000;
		border-left: 0px solid #000;
		border-top: 0px solid #000;
	}
	.logo-info-cont{
		display: grid;
		grid-gap: 30px;
	}
	.menu a{
		text-decoration: none;
		color: #000;
		font-weight: 600;
		font-size: 18px;
	}
	.close-menu{
		width: 30px;
		position: absolute;
		right: 10px;
		top: 10px;
	}
	.text-right{
		padding-left: 0;
		padding-right: 0;
	}
	.line-cart{
		grid-gap: 100px;
	}
	.d-n-cart{
		display: none;
	}
}
@media screen and (max-width:730px){
	.carta-text{
		padding: 20px;
	}
	.info img{
		width: 95%;
	}
	.input{
		padding: 60px;
	}
	.text-img{
		padding-left: 20px;
		padding-right: 20px;
	}
	.cotologe02 img{
		width: 100%;
	}
	.logo-info-cont p{
		width: 100%;
	}
	.line-cart{
		grid-gap: 90px;
	}
}
@media screen and (max-width:650px){
	.carta-img{
		display: none;
	}
	.carta-filter img{
		width: 200px;
		height: 200px;
	}
	.pl01{
		padding-left: 20px;
	}
	.carta-text h1{
		width: 90%;
	}
	.text-right{
		padding-left: 10px;
		width: 500px;
	}
	.cotologe-sell{
		grid-template-columns:none;
		grid-gap: 90px;
	}
	.cotologe-title-img img{
		width: 100%;
	}
	.logo-info-cont p{
		width: 500px;
		display: grid;
	}
	.ran-line{
		display: block;
	}
	.d-f{
		display: flex;
		grid-gap: 190px;
		padding-bottom: 30px;
	}
	.b-b{
		grid-template-columns:none;
		width: 100%;
	}
	.fotter-button{
		display: grid;
		grid-gap: 40px;
	}
	.Our-products-carta{
		display: none;
	}
	.input-title{
		display: flex;
	}
}
@media screen and (max-width:606px){
	.input{
		padding: 60px 20px;
	}
	.text-left{
		padding-left: 10px;
		padding-right: 10px;
	}
	.text-left p , .text-left h1 , .text-right p , .text-right h1 , .logo-info-cont p{
		width: 100%;
	}
	.info-text button{
		margin-top: 90px;
	}
	.info-shop{
		grid-gap: 20px;
	}
	.info-shop{
		grid-template-columns:none;
		grid-gap: 70px;
	}
	.fon{
		padding: 52px 10px;
	}
	.carta{
		width: 100%;
	}
}
@media screen and (max-width:552px){
	.carta{
		align-items:flex-start;
	}
	.carta-text{
		width: 350px;
	}
	.carta-text p{
		width: 100%;
	}
	.line-cart{
		grid-gap: 40px;
	}
	.line-cart{
		grid-gap: 30px;
	}
}
@media screen and (max-width:498px){
	.input{
		padding: 40px 10px;
	}
	footer{
		justify-content: flex-start;
		padding-left: 30px;
	}
	#d-n{
		display: none;
	}
	.line-cart{
		display: grid;
	}
	.info img{
		position: relative;
		width: 100%;
	}
	.text-right{
		width: 440px;
	}
	.info-text{
		width: 100%;
		display: grid;
		justify-content: center;
	}
	.info{
		display: grid;
		justify-content: center;
	}
	.info-text p , .info-text h1{
		color: #000;
		width: 443px;
	}
}
@media screen and (max-width:430px){
	.input{
		width: 400px;
	}
	.d-n-cart{
		display: none;
	}
	.carta-filter{
		grid-column-gap: 0;
	}
	.text-img{
		padding-left: 10px;
		padding-right: 10px;
	}
	.text-right{
		width: 410px;
	}
	.input h2{
		width: 300px;
	}
	.info-text h1 , .info-text p{
		width: 300px;
		padding-left: 20px;
	}
	.info-text{
		width: 400px;
	}
	.cart-get{
		display: grid;
	}
	.button-get{
		margin-left: 0;
	}
	.text-img h3{
		width: 100%;
	}
	.input-bay1{
		margin-top: 16px;
		margin-bottom: 33px;
	}
	.input-bay1{
		grid-gap: 160px;
		width: 360px;
	}
	.sistings-title{
		justify-content: space-between;
		border-top: 1px solid rgb(235, 232, 244);
		padding-top: 30px;
	}
	.border{
		border-left: 1px solid rgb(235, 232, 244);
		border-right: 1px solid rgb(235, 232, 244);
		padding: 0px 60px;
	}
	footer{

	}
}

@media screen and (max-width:414px){
	footer{
		padding-left: 10px;
	}
	.text-right{
		width: 390px;
	}
	.input{
		width: 380px;
	}
	.input h2{
		padding-left: 30px;
	}
	.carta-text{

	}
}
@media screen and (max-width:390px){
	.d-f01{
		display: grid;
	}
	.carta-filter img{
		width: 180px;
	}
	.cart-info{
		width: 380px;
	}
	.pl01{
		padding-left: 10px;
	}
	.text-right{
		width: 370px;
	}
	.text-img{
		width: 330px;
	}
	.text-left{
		width: 370px;
	}
	.border{
		padding: 0px 40px;
	}
	footer{
		padding-left: 50px;
	}
	.input-title{
		display: grid;
	}
	.input h1{
		width: 370px;
	}
	.input-bay1{
		grid-gap: 130px;
		width: 310px;
	}
	.cart-get{
		padding-left: 15px;
	}
	.input{
		padding: 40px 0px;
		width: 370px;
	}
	.input button{
		width: 300px;
	}
	.info-text{
		width: 370px;
	}
	.input h2{
		padding-left: 30px;
		padding-top: 20px;
	}
	.p-l{
		padding-left: 30px;
	}
	.cotologe02 img , .cotologe-title-img img{
		width: 380px;
	}
	.logo-info-cont p{
		width: 370px;
	}
}
@media screen and (max-width:375px){
	.input{
		width: 340px;
	}
	.input h1{
		width: 330px;
	}
	.container02{
		width: 360px;
	}
	.text-right{
		width: 350px;
	}
	.fon{
		padding-left: 5px;
		padding-right: 5px;
	}
	.cart-get{
		padding-left: 5px;
	}
	.carta{
		width: 375px;
	}
	.carta-text{
		width: 335px;
	}
}
@media screen and (max-width:360px){
	.carta{
		width: 100%;
	}
	.cart-info{
		width: 350px;
	}
	.container02{
		width: 350px;
	}
	.carta-text{
		width: 320px;
	}
	.info-text{
		width: 360px;
	}
	.cart-get{
		padding-left: 0px;
	}
}